<!--Main-->

  <section id="main">
      <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://i.imgur.com/pznq3Xv.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/PHUmT0P.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/8myu6rG.jpg" alt="Third slide">
          </div>
        </div>
      </div>
  </section>

<!--/Main-->

<!--Speakers-->
    <section id="speakers" class="mt-4">
      <div class="container">
        <div class="row">
          <div class="col text-center text-upercase">
            <small>Conoce más sobre</small>
            <h2>Fundación Clarita Hinojosa</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="https://i.imgur.com/lFrFnvL.png" class="card-img-top d-none d-md-block" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sobre la Fundación</h5>
                <p class="card-text">
                  Somos una Fundación con el objetivo de crear y 
                      promocionar programas y servicios de: Desarrollo integral, 
                      Inclusión Económica, Inclusión Social en beneficio de la niñez, 
                      adolescencia, juventud, adultos, adultos mayores y personas con discapacidad.
                </p>
                <a class="btn btn-primary" href="https://www.facebook.com/fund.claritahinojosaec/?ref=page_internal">Conoce más</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="https://i.imgur.com/EZwFix5.png" class="card-img-top d-none d-md-block" alt="...">
              <div class="card-body">
                <h5 class="card-title">Acerca de nosotros</h5>
                <p class="card-text">
                  Somos un grupo de expertos comprometidos con 
                  darte soluciones prácticas y alcanzables, enfocados 
                  en el desarrollo integral del talento humano; creamos, 
                  desarrollamos e implementamos proyectos de consultoría y de 
                  capacitación a la medida de tus necesidades
                </p>
                <a class="btn btn-primary" href="https://www.facebook.com/GlobalFec.SD/">Conoce más</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="https://i.imgur.com/puOsAwQ.jpg" class="card-img-top d-none d-md-block" alt="...">
              <div class="card-body">
                <h5 class="card-title">Clarita Hinojosa</h5>
                <p class="card-text">Mucho gusto, Bienvenido. Soy Clarita Hinojosa 
                  estoy comprometida con la ciudad de Santo Domingo y su gente.
                  Quiero contribuir al desarrollo social y cultural de la provincia
                  simpre respetando los valores de la sinceridad, el trabajo duro
                  y el compromiso social
                </p>
                <a class="btn btn-primary" href="https://www.facebook.com/clarahinojosasd">Conoce más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--/Speakers-->   

<!--Servicios-->
    <section id="place-time" class="mt-1">
      <div class="container-fluid">
        <div class="row-fluid">
            <h3 class="text-center">UNETE A UNO DE NUESTROS CURSOS</h3>
            <h3 class="text-center">Cómo Registrarme?</h3>
            <h6 class="text-center">
              Para poder registrarte, crea un usuario y genera una reservación en el curso que
              mas te guste
            </h6>
            <h6 class="text-center">Para crear un usuario accede a Registrate en la parte derecha superior de la página</h6>
            <h6 class="text-center">-</h6>
        </div>
        <div class="row">
          <div class="col col-lg-6 col-12 pl-0 pr-0 d-none d-md-block">
            <img src="https://i.imgur.com/wMuWkCi.jpg" alt="sky"/>
          </div>
          <div class="col col-lg-6 col-12 pt-2 pb-4 pt-4">
            <div class="card-fluid">
              <div class="card-body">
                <h5 class="card-title">CURSO DE ELECTRICIDAD</h5>
                <p class="card-text">Dirigido a: Todas las personas que deseen aprender e incursionar en el mundo de la electricidad.</p>
                <p class="card-text">Con este curso, aprenderas el proceso de trabajo y medidas de seguridad que debes acatar para asegurar tu salued e integridad durante
              los trabajos de instalaciones electricas o afines
                </p>
                <p class="card-text">Actualmente, tener presencia activa en redes sociales es vital para las empresas. 
              Los usuarios y potenciales clientes de las marcas se encuentran activamente en las redes sociales y es 
              importante contar con un plan de comunicación y marketing para acercarte a tus clientes, personal, 
              y el entorno social en el que se desarrollan las empresas.</p>
                <a href="/notes/add" class="btn btn-primary">Registrate a nuestro curso</a>
              </div>
            </div>
          </div>
          
          <div class="col col-lg-6 col-12 pt-2 pb-4 pt-4">
            <div class="card-fluid">
              <div class="card-body">
                <h5 class="card-title">MARKETING</h5>
                <p class="card-text">Dirigido a: Todas las personas que busquen adquirir conocimientos en el area de marketing</p>
                <p class="card-text">Marketing es la ciencia y el arte de explorar, crear y entregar valor para satisfacer necesidades de un mercado objetivo con lucro. El Marketing identifica necesidades y deseos no realizados. Define, mide y cuantifica el tamaño del mercado identificado y el lucro potencial.</p>
                <p class="card-text">Hoy en día el marketing es una estrategia que toda empresa debe implementar en su plan global para poder crecer. Muchas compañías usan técnicas de marketing para conseguir sus objetivos, incluso sin darse cuenta. La mercadotecnia no es otra cosa que el intercambio entre varias partes, de forma que se produzca un beneficio mutuo.</p>
                <a href="/notes/add" class="btn btn-primary">Registrate a nuestro curso</a>
              </div>
            </div>
          </div>
          <div class="col col-lg-6 col-12 pl-0 pr-0 d-none d-md-block mt-4">
            <img src="https://i.imgur.com/bne4i78.png" alt="sky"/>
          </div>
          <div class="col col-lg-6 col-12 pl-0 pr-0 d-none d-md-block mt-4">
            <img src="https://i.imgur.com/7rbn8Xq.jpg" alt="sky"/>
          </div>
          <div class="col col-lg-6 col-12 pt-2 pb-4 pt-4 ">
            <div class="card-fluid">
              <div class="card-body">
                <h5 class="card-title">BELLEZA Y ESTILISTA</h5>
                <p class="card-text">Dirigido a: Todas las personas que busquen adquirir conocimientos en el area de belleza y estilismo</p>
                <p class="card-text">Un estilista es un profesional que se dedica a asesorar sobre la vestimenta, el peinado y, en general, la imagen y estética de los clientes, normalmente tomando como guía la moda o tendencias del momento.</p>
                <p class="card-text">El estilista puede asesorar tanto en maquillaje y peluquería como en vestuario. Si bien, su valor añadido es la correcta aplicación de las tendencias y la moda </p>
                
                <a href="/notes/add" class="btn btn-primary">Registrate a nuestro curso</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<!--/Servicios-->


<!--/Footer-->

